@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
	}
body,html{
	       width:100%;
	       height:100%;
		   font-family:微软雅黑;
		   position:relative;
		   min-width:1800px;
	     }
/*头部样式*/
header{
	    width:100%;
		height:11%;
		background:yellow;
	   }
header div{
	      width:100%;
		  height:50%;
		  display:flex;
		  justify-content:center;
		  background:#0e76bd;
		  }
/*导航栏样式*/
nav{
	width:63%;
	height:100%;
	background:#0e76bd;
	display:flex;
	align-items:center;
	justify-content:space-between;
	top:0;
	left:18%;
	z-index:2;
	color:#FFF;
	}
a .logo{
	    width:100%;
	    height:100%;
		background:#09F;
          } 
nav ul{
	   width:48%;
       height:100%;
	   list-style:none;
	   display:flex;
	   align-items:center;
	   justify-content:flex-start;
	  }
nav ul li{
	       width:12%;
	       height:30%;
	       border-right:1px solid #999;
	       text-align:center;
		   
	     }
nav ul li a{
	       width:100%;
	       height:100%;
		   text-decoration:none;
		   color:#FFF;
	      }

nav ul li:nth-child(2){
	                    height:96%;
					    line-height:3.8;
						border-right:none;
						border-bottom:3px solid #F93;
						}
nav ul li:nth-child(3){
					     border-left:1px solid #999;
					  }
nav ul li:last-child{
	                   border-right:none;
	                  }
.searchbox{
	        width:25%;
			height:45%;
			display:flex;
			justify-align:space-around;
	       }
.searchbox input{
	              width:87%;
				  height:100%;
				  background:#f0f0f0;
				  border-top-left-radius:5px;
				  border-bottom-left-radius:5px;
				  border:none;
				  color:#999;
	            }
.searchlogo{
	         width:10%;
			 height:100%;
			 border-top-right-radius:5px;
		     border-bottom-right-radius:5px;
	         }
nav p{
	    border-right:1px solid #999;
	    width:4%;
	    height:30%;
	    text-align:center;
	    font-size:14px;
	}
nav p:last-child{
	              border-right:none;
                 }
/*头部第二部分样式*/
header div:last-child{
		               background:#FFF;
		             }
.teldiv{
	    width:63%;
		height:100%;
		display:flex;
		justify-content:space-between;
		align-items:center;
		}
.teldiv p{
	      width:16%;
		  height:30%;
		  font-size:12px;
		  color:#999;
		  }
.teldiv p:last-child{
	                  height:100%;
					  font:22px 'Conv_Tungsten-Medium';
					  color:#555;
					  font-weight:bold;
					  display:flex;
		              justify-content:space-between;
		              align-items:center;
					  }
/*第二部分样式*/
section{
	     width:100%;
		 height:750%;
		 background:#f9f9f9;
		 display:flex;
		 flex-flow:row wrap;
		 justify-content:center;
		 align-content:space-between;
		 position:relative;
		 z-index:1;
	     }
/*第二部分首部订单样式*/
.sectionfirst{
	          width:63%;
			  height:2.4%;
			  position:relative;
			  z-index:1;
			  }
.sectionfirst h3{
	             width:100%;
				 height:20%;
				 border-bottom:1px solid #CCC;
				 color:#666;
				 font-weight:100;
				 font-size:18px;
				 margin-top:3%;
				 }
.sectionfirst ul{
	                width:30%;
					height:80%;
					position:absolute;
					z-index:2;
					top:0;
					left:70%;
					list-style:none;
					display:flex;
					justify-content:space-around;
					align-items:center;
					}
.sectionfirst ul li{
	                width:20%;
					height:50%;
					display:flex;
					flex-flow:column wrap;
					justify-content:flex-end;
					align-items:center;
					}
.sectionfirst ul li img{
	                     width:35px;
						 height:35px;
						 }
.sectionfirst ul li p{
	                   font-size:14px;
					   color:#999;
					   }
/*第二部分的第二部分样式*/
.sectionsecond{
	            width:63%;
				height:20%;
				display:flex;
				flex-flow:column wrap;
				justify-content:space-between;
				}
.sectionsecond ul{
	              width:40%;
				  height:3%;
				  list-style:none;
				  display:flex;
				  justify-content:flex-start;
				  }
.sectionsecond ul:first-child{
	                           display:flex;
	                           justify-content:space-between;
							   }
.sectionsecond ul li{
	                 width:23%;
					 height:100%;
					 line-height:2.5;
					 color:#999;
					 text-align:center;
					 border:1px solid #CCC;
					 }
.sectionsecond ul li:first-child{
	                             text-align:left;
								 color:#333;
								 font-weight:bold;
								  border:none;
								 }
.sectionsecond ul li  a{
	                         width:100%;
	                         height:100%;
		                     text-decoration:none;
							 color:#999
	                             }
.sectionsecond ul li .whiteli{
	                               color:#FFF;
								   }

.sectionsecond ul li:nth-child(3){
	                               background:#0e76bd;
								   color:#FFF;
								   border:none;
								   }
.sectionsecond ul .citybj{
	                      width:15%;
						  height:80%;
						  border-radius:30px;
						  line-height:2;
						  background:#0e76bd;
						  color:#FFF;
					      border:none;
						  }
.sectionsecond .fxjg .flightjg{
	                            background:#f9f9f9;
								color:#999;
								border:none;
								}
.sectionsecond ul li  span{
	                              color:#F90;
								  font-size:25px;
								  line-height:1.5;
								  }
.tydiv{
	   width:68%;
	   height:85%;
	   display:flex;
	   }
.tydiv .txt{
	        width:13%;
			height:4%;
			line-height:2;
			font-weight:bold;
			color:#333;
			}
.tydiv .tyimg{
	          width:85%;
			  height:84%;
			  border:1px solid #CCC;
			  padding-top:40px;
			  padding-left:30px;
			  padding-bottom:80Px;
			  }
.tyimg img{
	       width:100%;
		   height:100%;
		   }
/*第二部分的第三部分样式样式*/	
.sectionthirh{
	            width:63%;
				height:23%;
				color:#999;
				}	
.thimg p:nth-child(2n){
	                    width:80%;
						height:18%;
						border:1px solid #CCC;
						border-radius:10px;
						display:flex;
						justify-content:center;
						align-items:center;
						margin-top:50px;
						margin-bottom:50px;
	                       }
.thimg p:last-child{
	                 border:none;
					 width:auto;
					 height:auto;
					 margin-top:60px;
					 }
						
.tydiv .thimg{
	          width:85%;
			  height:114.7%;
			  border:1px solid #CCC;
			  padding-top:40px;
			  padding-left:30px;
			  padding-right:25px;
			  }
.thimg img{
	       width:90%;
		   height:84%;
		   }
/*第二部分的第四部分样式样式*/	
.sectionfourth{
	            width:63%;
				height:25%;
				display:flex;
				flex-flow:row wrap;
				align-content:space-between;
				}
.fourfdiv{
	    width:68%;
		height:30%;
		display:flex;
		justify-content:flex-start;
		}
.ftxt{
	  width:12%;
	  height:20%;
	  font-weight:bold;
	  color:#333;
	  }
.fimg{
	  width:88%;
	  height:100%;
	   }
.fimg img{
	      width:100%;
		  height:100%;
		  }
.foursdiv{
	    width:68%;
		height:10%;
		display:flex;
		justify-content:flex-start;
		}
.stxt{
	  width:12%;
	  height:40%;
	  font-weight:bold;
	  color:#333;
	  }
.simg{
	  width:88%;
	  height:100%;
	  display:flex;
	  align-items:center;
	   border:1px solid #CCC;
	   font-size:12px;
	   color:#999;
	   padding-left:30px;
	   }

.fourthdiv{
	    width:68%;
		height:50%;
		display:flex;
		justify-content:flex-start;
		}
.thtxt{
	  width:12%;
	  height:20%;
	  font-weight:bold;
	  color:#333;
	  }
.fourthdiv .thimg{
	               width:88%;
	               height:95%;
	               border:1px solid #CCC;
				   padding-left:30px;
				   padding-right:30px;
				   padding-top:40px;
	              }
 .thimgfirst{
	          width:100%;
			  height:15%;
			  display:flex;
			  justify-content:space-between;
			  font-size:12px;
			  color:#999;
	          }
.thimgfirst div:nth-child(1){
	                         width:35%;
				             height:100%;
	                         }
.thimgfirst div:nth-child(1) img{
	                            width:100%;
								height:100%;}
.thimgfirst div:nth-child(2){
	                         width:56%;
				             height:60%;
							 display:flex;
							 flex-flow:row wrap;
							 justify-content:space-between;
	                         }

.thimgfirst div:nth-child(2) p{
	                            margin-top:8%;
								}
.thimgtxt{
	       width:100%;
		   height:8%;
		   display:flex;
		   flex-flow:row wrap;
		   align-content:center;
		   }
.thimgtxt h5{
			 font-size:12px;
			 color:#999;
			 }
.thimg .imagesfour{
	         width:100%;
			 height:62%;
			 border:none;
			 }
/*第二部分的第五部分样式样式*/		
.sectionfifth{
	            width:63%;
				height:28%;
				display:flex;
				flex-flow:column wrap;
				justify-content:space-between;
				}
.sectionfifth div{
	               width:68%;
				   height:25%;
				   display:flex;
				   justify-content:flex-start;
				   }
.sectionfifth div:nth-child(3){
	                           height:8%;
							    
							   }
.sectionfifth div:nth-child(4){
	                           height:18%;
							   }
.sectionfifth div:nth-child(5){
	                           height:16%;
							    
							   }
div .fifthftxt{
	        height:20%;
	        width:12%;
			color:#333;
			font-weight:bold;
			border:none;
			}
div .fifthfartical{
	             width:88%;
				 height:100%;
				 border:none;
				 border-bottom:1px solid #CCC;
				 display:flex;
				 flex-flow:column wrap;
				 justify-content:space-between;
				 color:#666;
				 font-size:14px;
				 }	
div:nth-child(3) .fifthsartical{
	             width:88%;
				 height:100%;
				 border:none;
				 border-bottom:1px solid #CCC;
				 display:flex;
				 flex-flow:column wrap;
				 justify-content:center;
				 color:#666;
				 font-size:14px;
				 }	
div:nth-child(3) .fifthsartical p{
	                              margin-bottom:8px;
								  }
div:nth-child(4) .fifthsartical{
	             width:88%;
				 height:100%;
				 border:none;
				 border-bottom:1px solid #CCC;
				 display:flex;
				 flex-flow:column wrap;
				 justify-content:center;
				 color:#666;
				 font-size:14px;
				 }	
div:nth-child(4) .fifthsartical p{
	                              margin-bottom:8px;
								  font-weight:bold;
								  }
div:nth-child(4) .fifthsartical p:nth-child(4){
	                              margin-bottom:25px;
								  }


div .fifthfartical span:first-child{
	                                 color:#333;
									 font-weight:bold;
									 font-size:16px;
									 }
div:nth-child(5) .fifthimages{
	             width:88%;
				 height:100%;
				 display:flex;
				 justify-content:space-between;
				 }	
.fifthimages img{
	               width:16%;
				   height:35%;
				   border:1px solid #CCC;
				   }
/*尾部样式*/
footer{
	    width:100%;
		height:40%;
		background:#f9f9f9;
		display:flex;
		flex-flow:row wrap;
		justify-content:center;
		}
.footimage{
	        width:100%;
			height:28%;
			}
.footimage img{
	           width:100%;
			   height:100%;
			   }
.footdiv{
	      width:63%;
		  height:72%;
		  background:#f9f9f9;
		  display:flex;
		  align-items:center;
		  justify-content:space-between;
	      }
.footdiv div{
	         width:12%;
			 height:70%;
	        }
/*尾部共用样式*/
.footdiv div h4{
	              font-size:14px;
				  color:#1b1b1b;
	            }
.footdiv div ul{
	             list-style:none;
				 width:100%;
				 height:80%;
				 margin-top:13%;
			   }
.footdiv div ul li{
	                width:100%;
					height:25%;
					border-bottom:1px solid #CCC;
					font-size:12px;
					color:#666;
					line-height:3;
	                } 
/*尾部共用样式结束*/
.footdiv div:nth-child(1){
	                       width:26%;
						   height:70%;
                         }
.footdiv div .footlogo{
	                   width:46%;
		               height:26%;
	                  }
.footlogo img{
	          width:100%;
			  height:100%;
			   }
.footdiv div p{
	           font-size:12px;
	          }
.footdiv div .firstp{
	                 margin-top:8%;
                      }
.footdiv div:nth-child(5){
	                       width:14%;
						   height:70%;
	                       }
.footdiv div h6{
	              font-size: 26px;
                  color: #1480b9;
                  font-family:'Conv_Tungsten-Medium';
                  margin-bottom:10%;
	            }
.footdiv div h6~p{
	               font-size:14px;
	              }
.footdiv div:nth-child(6){
	                       width:9%;
						   height:70%;
	                       }
.footdiv div img{
				  box-sizing:boeder-box;
	             }
/*活动订单样式*/
  .orderdiv{
	          width:278px;
              height:450px;
              position:fixed;
			  z-index:2;
              background:#fff;
			  border: 1px solid #ccc;
			  top:250px;
			  left:1270px;
			  }
.orderdiv h3{
	          height: 50px;
              font-size: 16px;
              color: #fff;
              text-align: center;
              line-height: 50px;
			  background:#0e76bd;
			  }
.taste{
	        width: 260px;
            height: auto;
            overflow:hidden;
            margin: 0 auto;
            padding: 10px 0 20px 0;
			}
.prightbox {
            height: auto;
            overflow: hidden;
            padding-bottom: 15px;
            border-bottom: 1px solid #ccc;
            font-size: 14px;
            color: #666666;
            text-align: center;
			padding-top: 10px;
           }
.prightbox span {
                   font-size: 40px;
                   color: #ff9c01;
                   font-family: 'Conv_Tungsten-Medium';
                  }
.prightboxinput {
                height: auto;
                overflow: hidden;
                padding-top: 20px;
                 }
.inputdate {
            height: auto;
            font-size: 14px;
            color: #333333;
            position: relative;
            top: 0;
            left: 0;
             margin-top: 10px;
            }
.inputdate span {
                 height: 30px;
                 line-height: 30px;
                  }
.inputdate .date {
                  width: 203px;
                  height: 30px;
                  border: 1px solid #d8dcdf;
                  float: right;
                  background: #f9f9f9;
                  line-height: 30px;
                  font-size: 12px;
                  color: #555;
                  padding: 0 10px;
                 }
.inputdate .key {
                 width: 36px;
                 height: 30px;
                 background-position: -21px -194px;
                 position: absolute;
                 top: 1px;
                 right: 1px;
                 cursor: pointer;
                }
.inputdate {
             height: auto;
             font-size: 14px;
             color: #333333;
             position: relative;
             top: 0;
             left: 0;
             margin-top: 10px;
            }
.man {
         border: 1px solid #eaecee;
         float: right;
         width: 223px;
         height: 30px;
         line-height: 30px;
}
.man th {
           text-align: center;
           font-size: 22px;
           color: #999999;
        }
.noticetxt_taste {
                  text-align: center;
                  color: #ff3a3b;
                  font-size: 12px;
                  display: inline-block;
                  margin-left: 39px;
                  margin-top: 18px;
                }
.boxlowestNum {
              display: none;
              }
.datetext1 {
              padding: 10px 0;
              font-size: 12px;
              color: #666666;
              line-height: 1.5;
               margin-bottom: 20px;
           }
.inputdate .Price {
                  font-size: 20px;
                  color: #333333;
                  width: 250px;
                  text-align: right;
                }
.inputdate .Price span {
                        font-size: 20px;
                        color: #333333;
                        }
.inputdate .Reserve {
                     width: 245px;
                     height: auto;
                     overflow: hidden;
                      margin: 0 auto;
                    }
.Reserve .reserveBtnx {
                        width: 245px;
                        height: 40px;
                        border: none;
                        line-height: 40px;
                        margin-top: 10px;
                        background-color: #ff9c01;
                        font-size: 16px;
                         color: #fff;
                       }